<body class="text-center">
  <%= form_for @programmer do |f| %>
  <form class="new_programer">
    <div class="col-sm-3">
      <%= f.text_field :first_name , {:class => "form-control",:placeholder => "First Name"}%>
    </div>

    <div class="col-sm-3 " style="padding-top: 8px;">
      <%= f.text_field :last_name , {:class => "form-control",:placeholder => "Last Name"}%>
    </div>

    <div class="col-sm-3" style="padding-top: 8px;">
      <%= f.text_field :phone , {:class => "form-control",:placeholder => "Phone"}%>
    </div>

    <div class="col-sm-3" style="padding-top: 8px;">
      <%= f.text_field :email , {:class => "form-control",:placeholder => "Email Address"}%>
    </div>

    <div class="submit_">
      <%= f.submit "Submit" , { :class => "button btn btn-primary"}%>
    </div>
  </form>
  </div>
  <% end %>
</body>