<h3>All Programmers</h3>
<body class="text-center">
  <div class="button btn btn-success">
    <%= link_to 'Add a Programmer', new_programmer_path , {:class => "link"}%>
    <svg class="bi bi-plus-circle" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
      xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v4a.5.5 0 01-.5.5H4a.5.5 0 010-1h3.5V4a.5.5 0 01.5-.5z"
        clip-rule="evenodd" />
      <path fill-rule="evenodd" d="M7.5 8a.5.5 0 01.5-.5h4a.5.5 0 010 1H8.5V12a.5.5 0 01-1 0V8z" clip-rule="evenodd" />
      <path fill-rule="evenodd" d="M8 15A7 7 0 108 1a7 7 0 000 14zm0 1A8 8 0 108 0a8 8 0 000 16z" clip-rule="evenodd" />
    </svg>
  </div>
  <br><br>
  <div class="album py-2 justify-content-lg-center d-flex">
    <div class="container justify-content-lg-center d-flex row row-cols-3">
      <% @programmers.each do |programmer| %>
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
        <h6 class="card-header"><b><%= programmer.first_name %>
            <%= programmer.last_name %>
          </b></h6>
        <div class="card-body">
          <p class="card-text">Phone : <%= programmer.phone %></p>
          <p class="card-text">Email : <%= programmer.email%></p>
          <%= link_to "Show" , programmer_path(programmer) , { :class => "button btn btn-info" }%>
          <a class="btn btn-danger" data-method="delete" href="/programmers/<%= programmer.id%>">Delete</a>
        </div>
      </div>
      <% end %>
      <div>
      </div>
</body>