<h3>Sign in</h3>

<body class="text-center">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <form class="new_user">
    <div class="col-sm-3">
      <div>
        <%= f.email_field :email,{autofocus: true, autocomplete: "email" , :class => "form-control",:placeholder => "Email"}%>
      </div>
      <div style="padding-top: 8px;">
        <%= f.password_field :password, {autocomplete: "current-password" , :class => "form-control",:placeholder => "Password"} %>
      </div>
      <% if devise_mapping.rememberable? %>
      <div>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end %>
      <div class="actions">
        <%= f.submit "Sign in" , { :class => "button btn btn-primary"} %>
      </div>
    </div>
  </form>
  <% end %>
</body>
<%= render "devise/shared/links" %>