<!DOCTYPE html>
<html>
  <head>
    <title>Programarizing</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <ul>
    <li><a href = "http://localhost:3000/programmers" >Home </a></li>
    <li><a href = "http://localhost:3000/sign_in" >Sign in </a></li> 
    <li><a href = "http://localhost:3000/sign_up" >Sign up </a></li> 
    </ul>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
